.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.card__image {
  height: 282px;
  width: 282px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease;
  flex-shrink: 0;
  cursor: pointer;
}

.card__like-button:hover {
  fill: #000;
  opacity: 0.5;
  cursor: pointer;
}

.card__like-button-active {
  background: url(../images/like-active.svg);
  cursor: pointer;
}

.card__delete-button {
  background: url(../images/trash.svg) center no-repeat;
  position: absolute;
  width: 18px;
  height: 19.3px;
  border: none;
  margin-top: 18px;
  margin-left: 249px;
  padding: 0;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.crad__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
